[Unit]
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/scripts/vk_modules
User=pi
Type=simple
ExecStart=/bin/sh /home/pi/scripts/vk_modules/service/starter.sh
RemainAfterExit=yes
TimeoutStartSec=0
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target