[Unit]
After=network.target  
Wants=network.target

[Service]
Type=simple
ExecStart=/bin/sh /home/pi/scripts/vk_modules/service/starter.sh
WorkingDirectory=/home/pi/scripts/vk_modules
Restart=always
StandardOutput=/home/pi/scripts/vk_modules/temp/oul.log
StandardError=/home/pi/scripts/vk_modules/temp/err.log

[Install]
WantedBy=multi-user.target